name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build APK
        run: |
          # உங்கள் Vercel லிங்க்கை ஆப்பாக மாற்றும் கட்டளை
          curl -L -o FuelSavvyPro.apk "https://api.webintoapp.com/render?url=https://delivery-tracking-delta.vercel.app&name=FuelSavvyPro"
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FuelSavvyPro-App
          path: FuelSavvyPro.apk
