name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build APK
        run: |
          # இது உங்கள் Vercel லிங்க்கை ஆப்பாக மாற்றும்
          curl -o FuelSavvyPro.apk https://delivery-tracking-delta.vercel.app/index.html
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: FuelSavvyPro-App
          path: FuelSavvyPro.apk
